.ContactEditor {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 400px;
  border-radius: 2px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.ContactEditor-label {
  display: block;
  margin-bottom: 16px;
  font-size: 20px;
  color: #171718;
  cursor: pointer;
}

.ContactEditor-input {
  color: #171718;
  font: inherit;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  width: 90%;
}

.ContactEditor-input:focus {
  border: 1px solid #146e8a;
}

.ContactEditor-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(18, 90, 150);
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid #1ebd65;
  cursor: pointer;
  text-transform: uppercase;
}

.ContactEditor-button:hover {
  background-color: #2296b9;
}